<!DOCTYPE html>
<html lang="pt-br">
<head>

    <!-- Require Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>Canais</title>


    <!-- css bootStrap/only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">

    <!-- bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

    <!-- javascripts bootStrap -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>

    <!-- boxIcons -->
    <link href='https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css' rel='stylesheet'>


    <link rel="stylesheet" href="./css/canaisMain.css">

    <script src="./js/openServer.js" defer></script>
</head>
<body>
    <section class="container-Canais">
        <ul class="listCanais">
            <li class="categoria"  id="openServidor">
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭──── SERVIDOR-</h1>
                <i class='bx bx-plus'></i>
            </li>

            <!--Canais da categoria Servidor-->
            <section id="channelsServidor" class="channelsClose">
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    🖐🏻│bem-vindo
                </li>
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    📃│chat-global
                </li>
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    ▶│youtube
                </li>
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    📎│links
                </li>
                 <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    🎵│músicas
                </li>
                 <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    👑│comandos
                </li>
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    📖│regras
                </li>
            </section>

            <li class="categoria" id="openFront" >
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭──── Front end</h1>
                <i class='bx bx-plus'></i>
            </li>

            <!--Canais da categoria Front End-->
            <section id="channelsFront" class="channelsClose">
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    ❔│dúvidas
                </li>
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    📂│projetos
                </li>
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    💬│chat
                </li>
                <li class="itemsCategoria">
                    <i class='bx bx-hash'></i>
                    📰│vagas-de-empregos
                </li>
            </section>
            <li class="categoria">
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭──── Back end {🧠}</h1>
                <i class='bx bx-plus'></i>
            </li>
            <li class="categoria">
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭──── Mobile (📱)</h1>
                <i class='bx bx-plus'></i>
            </li>
            <li class="categoria">
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭────🔸linguagens🔸</h1>
                <i class='bx bx-plus'></i>
            </li>
            <li class="categoria">
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭──── ⚜ADMIN</h1>
                <i class='bx bx-plus'></i>
            </li>
             <li class="categoria">
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭────🔧Tools Server</h1>
                <i class='bx bx-plus'></i>
            </li>
            <li class="categoria">
                <button class="openCanais" type="button">
                    <i class='bx bx-chevron-right'></i>
                </button>
                <h1>╭──── ⋆ 🔊CANAIS DE VOZ</h1>
                <i class='bx bx-plus'></i>
            </li>|
        </ul>
    </section>
</body>
</html>