/*======================================================================*/
/*======================Style sheets principal==========================*/
/*======================================================================*/


body, hmtl
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


/* Menu Principal */
.menuLeft
{
    position: absolute;
    background: #202225;

    width: 4.4rem;
    height: 100%;
}

.menuLeft .barVertical
{
    width: 100%;
    height: 100%;
}

.btnLeft-list
{
    list-style: none;
    width: 100%;
    height: 100%;
}

.itemsList
{
    width: 183%;
    margin-left: -2rem;
    text-align: center;
    padding: 1rem 0 1rem 0;
}

.itemsList i
{
    color: #dcddde;
    font-size: 2.3rem;
    background:#36393f;
    padding: .5rem;
    border-radius: 50%;
}

.itemsList img,
.itemsList i
{
    cursor: pointer;
    transition: .3s;
}
.itemsList img:hover,
.itemsList i:hover
{
    transform: scale(.95);
}

.datailsWhrite
{
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    margin-top: -5px;
    background: #fefefe;
    border-radius: 0 12px 12px 0;
}

.smallbar
{
    border: #dcddde 1px solid;
    margin-left: -1.5rem;
    width: 130%;
}

/* Barra de canais */
.chanellsServer
{
    background: #2f3136;
    position: absolute;
    margin-left: 4.4rem;
    width: 19.5rem;
    height: 100%;
}

.nameServer
{
    position: absolute;
    width: 100%;
    height: 3.1rem;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    box-shadow: 0 0 2px #000;
    z-index: 1;
}

.nameServer h1,
.nameServer i
{
    color: #fefefe;
    font-size: 1.2rem;
}
.nameServer i
{
    font-size: 2rem;
}

.embedCanais
{
    position: relative;
    margin-top: 3.1rem;
    width: 100%;
    height: 95%;
}

/* ============== Chat ============== */
.chatMain
{
    position: absolute;
    width: 50.8%;
    height: 100%;
    background: #36393f;
    margin-left: 23.9rem;
}

.inputChat
{
    position: absolute;
    width: 100%;
    height: 4.5rem;
    display: flex;
    align-items: center;
    padding: 2rem;

    margin-top: 126%;
}

.contentInput
{
    position: absolute;
    width: 91%;
    padding: .6rem;
    background: #40444b;
    border-radius: .6rem;

    display: flex;
    justify-content: space-between;
}

.contentInput svg,
.contentInput i
{
    color: #b8b6b6;
    font-size: 1.8rem;

    cursor: pointer;
}

.contentInput svg:hover,
.contentInput i:hover
{
    color: #cccaca;
}

.contentInput #chat
{
    background: transparent;
    outline: none;
    border: none;
    padding: 0 0 0 -.3rem;
    width: 60%;

    color: #b8b6b6;

}

.iconsInput
{
    display: flex;
    gap: 1rem;
}

.containerMsg
{
    position: absolute;
    width: 100%;
    height: 80%;
    margin-top: 3.3rem;

}

.containerMsg ul
{
    position: absolute;
    width: 100%;
    height: 100%;
}

.listMsg li
{
    font-size: 1.4rem;
    color: #d1d1d1;
    list-style: none;
    padding: .3rem;
}


/*===== Bar top chat =====*/
.channelsInf
{
    position: fixed;
    width: 50.8%;
    height: 3.1rem;
    display: flex;
    justify-content: space-evenly;

    box-shadow: 0 0 12px rgba(0, 0, 0, 0.479);
}
.channelsInf i
{
    font-size: 2.5rem;
    color: #fefefe;
}
.channelsInf div
{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.channelsInf h1,
.channelsInf h3
{
    font-size: 1.3rem;
    color: #fefefe;
}
.channelsInf h3
{
    font-size: 1rem;
}

.channelsInf svg
{
    color: #fefefe;
}